@(user: User)

@main(user) {

    <h3>Информация о пользователе</h3>

    <h1>@user.name</h1>
    <h4>Последний визит в: @user.lastVisit</h4>
    <p>Дата рождения: @user.birthDate</p>
    <p>Страна: @user.country</p>
    <p>Город: @user.city</p>
    <p>id пользователя: @user.id </p>
    <p>тип пользователя:
        @if(user.userType == 1) {
            Администратор
        }
        @if(user.userType == 2) {
            Студент
        }
        @if(user.userType == 3) {
            Учитель
    }


    </p>

    <dd>
        <a href="@routes.Application.index()">Back</a>
    </dd>

}